# Default ignored files
/shelf/
/workspace.xml

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings
.vscode/

# Environment folders
Drill/

# Data and session files
Data/session_insights.json

# OS files